.mobile {
  flex-direction: column;
  position: absolute;
  width: 33%;
  right: 0;
  top: 0%;
  margin-top: 1em;
  text-align: center;
  background-color: #fff;
  z-index: 100;
}

.closeButton {
  width: 30px;
}

@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
}
