.item {
  margin: 0 1em;
  font-size: 1em;
  font-style: oblique;
  padding: 0.5em;
  text-align: center;
  font-weight: 400;
}

.item:hover {
  background-color: #751e32;
  color: #cdccce;
  font-weight: bold;
}

@media screen and (min-width: 990px) {
  .item {
    font-size: 1.2em;
  }
}
