.item {
  margin: 0 1em;
  font-size: 1em;
  font-style: oblique;
  padding: 0.5em;
  text-align: center;
  font-weight: 400;
}

.item:hover,
.item button:hover {
  background-color: #751e32;
  color: #cdccce;
  font-weight: bold;
}

.item button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  font-style: inherit;
}
.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

@media screen and (min-width: 990px) {
  .item {
    font-size: 1.2em;
  }
}
