.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.logoTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  width: 100%;
  margin: auto 0;
}

.logoContainer {
  height: 9em;
  min-width: 10em;
  position: relative;
  margin-bottom: 1em;
}

.menuButton {
  margin-right: 0.8rem;
}

.webMenu {
  display: none;
}

@media screen and (min-width: 992px) {
  .titleNav {
    flex-direction: column;
  }
  .header {
    flex-direction: column;
  }

  .menuButton {
    display: none;
  }
  .webMenu {
    display: flex;
  }
}
