.imageContainer {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.article {
  padding: 0 3em;
  width: 100%;
}

.bienvenue {
  text-align: center;
  font-size: 2em;

  /* border: solid 1px chartreuse; */
}

.bienvenue,
.section {
  padding: 1.5em 0;
  background-color: antiquewhite;
  margin-bottom: 1em;
}

.aside {
  width: 100%;
  border: solid 2px lightgrey;
  border-radius: 1em;
  padding-bottom: 1.5em;
  padding-left: 0.5em;
}

@media screen and (min-width: 990px) {
  .section {
    flex-direction: row;
  }
  .article {
    width: 66%;
  }
  .aside {
    width: 33%;
  }
}
