@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--background);
	min-height: 10vw;
	max-width: 1120px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Yeseva One', cursive, sans-serif;
	text-align: center;
	color: var(--foreground);
}

@layer base {
	:root {
		--background: 42 20% 96%; /* Beige lumineux */
		--foreground: 0 0% 15%; /* Gris foncé */
		--card: 0 15% 90%; /* Gris chaud */
		--card-foreground: 0 0% 15%; /* Texte foncé */
		--popover: 42 20% 85%; /* Beige doux */
		--popover-foreground: 0 0% 15%;
		--primary: 0 80% 35%; /* Rouge profond */
		--primary-foreground: 42 20% 96%; /* Beige lumineux */
		--secondary: 50 70% 50%; /* Or doux */
		--secondary-foreground: 0 0% 15%;
		--muted: 42 15% 85%;
		--muted-foreground: 0 0% 40%;
		--accent: 210 10% 85%; /* Bleu-gris léger */
		--accent-foreground: 0 0% 15%;
		--destructive: 0 60% 50%; /* Rouge vif pour les alertes */
		--destructive-foreground: 42 20% 96%;
		--border: 0 0% 85%;
		--input: 0 0% 90%;
		--ring: 0 80% 35%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 42 20% 10%; /* Brun très foncé */
		--foreground: 0 0% 90%; /* Gris clair */
		--card: 0 15% 20%; /* Gris chaud foncé */
		--card-foreground: 0 0% 90%; /* Texte clair */
		--popover: 42 20% 25%; /* Brun doux */
		--popover-foreground: 0 0% 90%;
		--primary: 0 80% 35%; /* Rouge profond */
		--primary-foreground: 42 20% 96%; /* Beige lumineux */
		--secondary: 50 70% 40%; /* Or foncé */
		--secondary-foreground: 0 0% 90%;
		--muted: 42 15% 25%;
		--muted-foreground: 0 0% 70%;
		--accent: 210 10% 30%; /* Bleu-gris foncé */
		--accent-foreground: 0 0% 90%;
		--destructive: 0 60% 50%; /* Rouge vif pour les alertes */
		--destructive-foreground: 42 20% 96%;
		--border: 0 0% 40%;
		--input: 0 0% 30%;
		--ring: 0 80% 35%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
